In [38]:
import numpy as np
import pandas as pd

In [44]:
from numpy.random import randn

#IMPORTANT

In [40]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [42]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [43]:
df

             A         B
G1 1 -0.288527  0.562128
   2 -1.121165  0.233109
   3 -0.400166  1.761383
G2 1 -0.195537 -0.629383
   2 -0.783341 -0.393826
   3 -0.194079 -0.481845

In [45]:
inside

[1, 2, 3, 1, 2, 3]

In [46]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [50]:
df.loc['G1'].loc[1]

A   -0.288527
B    0.562128
Name: 1, dtype: float64

In [52]:
df.index.names

FrozenList([None, None])

In [53]:
df.index.names = ['Groups', 'Num']

In [54]:
df.index.names

FrozenList(['Groups', 'Num'])

In [55]:
df.loc['G2'].loc[2]['B']

-0.39382628873606124

In [56]:
df.xs('G1')

            A         B
Num
1   -0.288527  0.562128
2   -1.121165  0.233109
3   -0.400166  1.761383

In [57]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.288527  0.562128
G2     -0.195537 -0.629383